body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #dfdfdf;
    min-height: 100vh;
    overflow-y: scroll;
}

#title{
    text-align: center;
    color: #ff00ff;
}


.profile-card {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    border: 5px solid #ff00ff;
}

.profile-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid #ff00ff;

}

.profile-card h2 {
    color: #333;
    margin: 0 0 2px 0;
    font-size: 28px;
}

.profile-card h3 {
    padding-bottom: 5px;
    color: #ff00ff;
    margin: 0 0 0 0;
    font-size: 20px;
}

.profile-card h4 {
    color: #a400a4;
    margin: 0 0 20px 0;
    font-size: 18px;
}

.profile-card p {
    margin: 10px 0;
    color: #555;
    font-size: 16px;
}

.fun-fact {

    color: #ff00ff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .profile-card {
        width: 90%;
        padding: 20px;
    }

    .profile-card img {
        height: 200px;
    }

}
